:root{
  --primary: #ecf0f1;
  --secondary:#fdfefe;
  --inactivecolor:#ccd1d1;
  --activecolor:#2596ff;
  --lightactivecolor:#85c1e9;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}