:root{
  --primary: #ecf0f1;
  --secondary:#fdfefe;
  --inactivecolor:#ccd1d1;
  --activecolor:#2596ff;
  --lightactivecolor:#85c1e9;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


